{{bs-growl-notifications}}
{{bs-notifications style="z-index: 1000; position: fixed; width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 50px;"}}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo-font" href="#">Brand</a>
        </div>
        <ul class="navbar-form navbar-right">
            {{#if session.isAuthenticated}}
                <span class="welcome-text">
                    Welcome <span style="font-style: italic;">{{session.username}}</span>
                </span>
                <button {{action 'invalidateSession'}} class="btn btn-default">Logout</button>
            {{else}}
                <button {{action 'login'}} class="btn btn-default">Login</button>
                <button {{action 'signup'}} class="btn btn-info">Signup</button>
            {{/if}}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="well">
        <div class="row">
            <div class="text-center">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
{{#bs-modal name="loginModal" fade=true footerButtonsBinding="loginModalButtons" title="Login"}}
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputUser" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                {{input type="text" class="form-control" id="inputUser" placeholder="Username" valueBinding="username"}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                {{input type="password" class="form-control" id="inputPassword" placeholder="Password" valueBinding="password" action="loginModalSubmit"}}
            </div>
        </div>
    </form>
{{/bs-modal}}